* {
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
}

.container {
    margin-left: 0px;
}

.headerText {
    color: #fff;
}

h2 {
    text-align: center;
}

#questionNumber,
h1 {
    text-align: right;
}

.progress {
    margin-top: 25px;
}

.alert {
    font-size: 2em;
    display: none;
    text-align: center;
    margin-top: 20px;
}

div>h1:nth-last-of-type(1) {
    text-align: center;

}

.py-3 {
    text-align: center;
    background-image: url(../images/tausta.jpg);
    
}

footer>div {
    color: rgb(255, 255, 255);
}

#next,
#restart {
    display: none;
    margin-top: 10px;
}

.nav-item {
    margin-top: 10px;
    font-size: 1.2em;
}

.questionArea{
    padding: 10px 10px 80px 10px;
    max-height: 450px;
    background-color: rgb(185, 185, 185);
}   