* {
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
}
.headerText {
    color: #fff;
    margin:0 40px;
}

#questionNumber,
h1 {
    text-align: right;
}

.progress {
    margin-top: 25px;
}

.alert {
    font-size: 2em;
    display: none;
    text-align: center;
    margin-top: 20px;
}

div>h1:nth-last-of-type(1) {
    text-align: center;
}

.py-3 {
    min-height: 100vh;
    text-align: center;
    background-image: url(../images/louhela-tausta.jpg);
}

footer>div {
    margin: auto 0px;
    color: rgb(255, 255, 255);
}

#next,
#restart {
    display: none;
    margin-top: 10px;
}

.navbar{
    justify-content: flex-start;
}

.ms-1{
    color: aliceblue;
}

.nav-item {
    margin-top: 20px;
    font-size: 1.2em;
    border: 1.5px solid rgb(84, 200, 247);
    border-radius: 100px;
    padding-right: 30px;
    padding-left: 30px;
    min-width: 200px;
    text-align: center;
}


.questionArea{
    padding: 10px 10px 80px 10px;
    background-color: rgba(185, 185, 185,0.95);
}   

@media only screen and (max-width: 925px){
    .headerText {
        margin:0 10px;
    }
    .nav-item {
        min-width: 0;
        margin-top: 5px;
        border: none;
        padding-right: 10px;
        padding-left: 10px;
        
    }
}