/* web-projekti*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Acme', sans-serif;
}

.header {
  padding: 10px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.headerText {
  color: #fff;
  margin: 0 40px;
}

.ms-1 {
  color: aliceblue;
}

.ms-1:hover {
  font-size: 2em;
}

/* Navigointipalkin tyylit */
.nav-item {
  margin-top: 20px;
  font-size: 1.2rem;
  min-width: 200px;
  text-align: center;
}

.linkButton {
  display: none;
}

/* Tyylit kuvalinkeille */
#plus,
#minus,
#kerto,
#jako {
  background-size: 100% 100%;
  border: aliceblue 0.5px solid;
  height: 450px;
  text-align: center;
  padding: 0;
}

#plus {
  background-image: url(../images/board-776708_1920.jpg);
}

#minus {
  background-image: url(../images/fibonacci-3210943_1920.jpg);
}

#kerto {
  background-image: url(../images/pi-1453836_1920.jpg);
}

#jako {
  background-image: url(../images/mathematics-1509559_1920.jpg);
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: lightblue;
  overflow: hidden;
}

/* Kuvien tekstien tyyli*/
.text-block {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

/* Linkkejen tyylit*/
a {
  text-decoration: none;
  color: black;
}

/*hover toiminnot*/
.overlay:hover {
  display: block;
  opacity: 1;
}

footer>div {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 925px) {
  .nav-item {
    min-width: 0;
    margin-top: 5px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .fas {
    display: inline-block;
  }

  .overlay {
    background: transparent;
    display: block;
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .linkButton {
    display: block;
    background-color: #feed77;
    color: #000;
    border: 2px solid black;
    font-size: 2rem
  }

  #plus,
  #minus,
  #kerto,
  #jako {
    display: none;
  }

  .buttonRow {
    min-height: 100vh;
  }
}