/* web-projekti*/
*{
  box-sizing: border-box;
}
body {
  font-family: 'Acme', sans-serif;
}
.navbar {
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5em;
}

.ms-1 {
  color: aliceblue;
  font-size: 1.5em;
}

.ms-1:hover {
  font-size: 2em;
}

.fs-5 {
  font-size: 2em !important;
}
.col-1 {
  border: solid aliceblue 1px;
}
/* Tyylit kuvalinkeille */
#plus {
position: relative;
background-image: url(../images/board-776708_1920.jpg);
background-size: 100% 100%;
border: aliceblue 0.5px solid;
height: 450px;
text-align: center;

}

#minus {
background-image: url(../images/fibonacci-3210943_1920.jpg);
background-size: 100% 100%;

  border: aliceblue 0.5px solid;
  height: 450px;
  text-align: center;

}

#kerto {
  background-image: url(../images/pi-1453836_1920.jpg);
  background-size: 100% 100%;

    border: aliceblue 0.5px solid;
    height: 450px;
    text-align: center;

}

#jako {
  position: relative;
  background-image: url(../images/mathematics-1509559_1920.jpg);
  background-size: 100% 100%;

    border: aliceblue 0.5px solid;
    height: 450px;
    text-align: center;
    justify-content: center;


}
/* Kuvien tekstien tyyli*/
.text-block {
  font-size: 50px;
  display: none;
  color: black;

}
/* Linkkejen tyylit*/
a {
  text-decoration: none;
  color: black;
}
/*hover toiminnot*/
#jako:hover .overlay{
  display: block;
  opacity: 1;
}
#minus:hover .overlay{
  display: block;
  opacity: 1;
}
#plus:hover .overlay{
  display: block;
  opacity: 1;
}
#kerto:hover .overlay{
  display: block;
  opacity: 1;
}

#jako:hover .text-block{
  display: block;
}

#minus:hover .text-block {
  display: block;
}
#plus:hover .text-block {
  display: block;
}
#kerto:hover .text-block {
  display: block;
}

footer > div {
  color: rgb(255, 255, 255);
}


.col-12{
  padding: 0;
}


.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: lightblue;
  overflow: hidden;
}
